player-connection-mode=Listen
player-connection-guid=541216841
player-connection-debug=0
player-connection-project-name=Tron2.0
player-connection-ip=192.168.1.17
player-connection-ip=172.19.0.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b9d22fc93e794e47b1c534a3c18016aa
